.App {
  text-align: center;
}

body {
  padding: 0;
  margin: 0;
}

/* --tea-green: #c2efb3ff;
--tea-rose-red: #efc7c2ff;
--dark-moss-green: #656839ff;
--eggplant: #694f5dff;
--dark-purple: #361d2eff; */